<div class="p-4 border-2">
     <h2 class="text-xl font-bold">Whether Information</h2>

     <table>
          <thead>
               <tr>
                    <th>Temperature</th>
                    <th>Humidity</th>
                    <th>Feels Like</th>
                    <th>Pressure</th>
               </tr>
          </thead>
          <tbody>
               <tr>
                    <td>{{ whether?.temp }}</td>
                    <td>{{ whether?.humidity }}</td>
                    <td>{{ whether?.feels_like }}</td>
                    <td>{{ whether?.pressure }}</td>
               </tr>
          </tbody>
     </table>
</div>